/* Global styles */

/* START:notice */
#notice {
  border: 1px solid red;
  padding: 1em;
  margin-bottom: 2em;
  margin-right: 10px;
  background-color: #6c90a9;
  font: bold 9pt Verdana, Arial, sans-serif;
}
/* END:notice */

#main {
  margin-left: 10px;
  padding-top: 4ex;
  clear:both;
}
