<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Customizing TreePanel</title>
<%= javascript_include_tag "ext/adapter/ext/ext-base",
                             "ext/ext-all",
                             "ext/TreeCheckNodeUI",
                             "ext/ColumnNodeUI",
                             "ext/column-tree",
                             "ext/shared/examples"%>
    <%= stylesheet_link_tag 'ext/ext-all'%>
    <%= stylesheet_link_tag 'ext/column-tree'%>
    <%= stylesheet_link_tag 'ext/shared/examples'%>

</head>
<body>

<h1>Customizing TreePanel</h1>
<p>This example shows demonstrates how you can customize a TreePanel to display basic columns.</p>

<div id="tree-ct">

</div>

<br /><br /><br /><br /><br />
</body>
</html>
