<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Customizing TreePanel</title>
<%= javascript_include_tag "ext/adapter/ext/ext-base",
                             "ext/ext-all",
                             "ext/TreeCheckNodeUI",
                             "ext/ColumnNodeUI",
                             "ext/column-tree",
                             "ext/shared/examples"%>
    <%= stylesheet_link_tag 'ext/ext-all'%>
    <%= stylesheet_link_tag 'ext/column-tree'%>
    <%= stylesheet_link_tag 'ext/shared/examples'%>

</head>
<body>

<h1>我的锻炼计划</h1>


<div id="tree-ct">

</div>

<br /><br /><br /><br /><br />
</body>
</html>
