<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Customizing TreePanel</title>
<%= javascript_include_tag "ext/adapter/ext/ext-base",:defaults,
                             "ext/ext-all",
                             "ext/TreeCheckNodeUI",
                             "ext/ColumnNodeUI",
                             "ext/column-tree",
                             "ext/shared/examples"%>
    <%= stylesheet_link_tag 'ext/ext-all'%>
    <%= stylesheet_link_tag 'ext/column-tree'%>


</head>
<body>

<h1><%= @planner.name %></h1>

<div id="msg"></div><div></div>
<div id="tree-ct">

</div>

<div id="hello-win" class="x-hidden">
    <div class="x-window-header">Planner Editor</div>
    <div id="hello-tabs">

    </div>
</div>
<div id="floatting-toolbar"></div><div id="add-plan-editor"></div>
<div id="newTb"></div>
<div id="plan-editor"></div>
<div id="plan-view"></div>
<div id="editPanel"></div>
<div id="addPanel"></div>

<div id="del-msgbox"></div>

<br /><br /><br /><br /><br />
</body>
</html>
