

    <h2>About YouLeadYourLife</h2>

    <p><a href="http://localhost:3000/home">You Lead Your Life</a>
       You can create outlines of you plans.You can lead your life easily.</p>

      <p>This is just for you.Try it and you'll find many funs.
      </p>

    <div style="text-align: center;">
      <%= link_to image_tag("button_signup.png"), signup_path %>
    </div>



